$media-mobile-sm: 320px;
$media-mobile-md: 360px;
$media-mobile-lg: 400px;
$media-tablet-sm: 540px;
$media-tablet-md: 768px;
$media-tablet-lg: 1024px;
$media-desktop-sm: 1280px;
$media-desktop-md: 1440px;
$media-desktop-lg: 1600px;
$media-desktop-xlg: 1920px;
